<div *ngIf="isDeactivate" class="root-container">
	<div class="visible-xs-block visible-sm-block">
		<div class="row">
			<div class="form-group">
				<div>
					<select (change)="navigateTo($event.target.value)" class="form-control">
											<option></option>
											<option value="profile" >Profile</option>
											<option value="password" >Password</option>
											<option value="notification" >Notifications</option>
											<option value="billingInfo" >Billing Info</option>
											<option value="giftCards" >Gift Cards</option>
											<option value="cancelTask" >Cancel A Task</option>
											<option value="accountBalaance" >Account Balance</option>
											<option value="transactions" >Transactions</option>
											<option value="alexa" >Alexa</option>
											<option value="deactivate" >Deactive</option>
				
												</select>

				</div>
			</div>
		</div>
	</div>
	<h3 class="deactive-balance-title">
		<span>Account Deactivation</span>
	</h3>
	<div>
		<p class="deactive-para">
			<span>
						Once you've deactivated your account, you will no longer be able to log in to the TaskRabbit site or apps. This action cannot be undone.
				</span>
		</p>
		<button style="height:52px;width : 230px;margin-left:15px" type="button" class="btn btn-success btn-inverse">Deactive Account</button>
	</div>
</div>


<div>
	<div *ngIf="isPassword">
		<app-password></app-password>

	</div>
	<div *ngIf="isNotifications">
		<app-notifications></app-notifications>
	</div>
	<div *ngIf="isBillingInfo">
		<app-billing-info></app-billing-info>
	</div>
	<div *ngIf="isProfile">
		<app-profile></app-profile>
	</div>
	<div *ngIf="isGiftCards">
		<app-gift-cards></app-gift-cards>
	</div>
	<div *ngIf="isCancelTask">
		<app-cancel-task></app-cancel-task>
	</div>
	<div *ngIf="isAccountBalance">
		<app-account-balance></app-account-balance>
	</div>
	<div *ngIf="isTransactions">
		<app-transactions></app-transactions>
	</div>
	<div *ngIf="isAlexa">
		<app-alexa></app-alexa>
	</div>
	<!-- <div *ngIf="isDeactivate"><app-deactive></app-deactive></div> -->
</div>