.container2{
    border: 0.5px solid #DCDFE5;
    height: 462px;
}
.deactive-balance-title{
    margin-left: 15px;
    border-bottom: 1px solid #dce0e6;
    margin-bottom: 1.1em;
    font-weight: 600;
}
.deactive-para{
    margin: 0 0 1.5rem 0;
    margin-left: 15px
}

/* deactive account button */

.btn-success.btn-inverse {
	color: #5cb85c;
	background-color: #fff;
	border-color: #5cb85c;
  }
  .btn-success.btn-inverse:focus, .btn-success.btn-inverse.focus {
	color: #5cb85c;
	background-color: #e6e6e6;
	border-color: #2d672d;
  }
  .btn-success.btn-inverse:hover {
	color: #5cb85c;
	background-color: #e6e6e6;
	border-color: #419641;
  }
  .btn-success.btn-inverse:active, .btn-success.btn-inverse.active, .open > .btn-success.btn-inverse.dropdown-toggle {
	color: #5cb85c;
	background-color: #e6e6e6;
	border-color: #419641;
  }
  .btn-success.btn-inverse:active:hover, .btn-success.btn-inverse:active:focus, .btn-success.btn-inverse:active.focus, .btn-success.btn-inverse.active:hover, .btn-success.btn-inverse.active:focus, .btn-success.btn-inverse.active.focus, .open > .btn-success.btn-inverse.dropdown-toggle:hover, .open > .btn-success.btn-inverse.dropdown-toggle:focus, .open > .btn-success.btn-inverse.dropdown-toggle.focus {
	color: #5cb85c;
	background-color: #d4d4d4;
	border-color: #2d672d;
  }
  .btn-success.btn-inverse:active, .btn-success.btn-inverse.active, .open > .btn-success.btn-inverse.dropdown-toggle {
	background-image: none;
  }
  .btn-success.btn-inverse.disabled:hover, .btn-success.btn-inverse.disabled:focus, .btn-success.btn-inverse.disabled.focus, .btn-success.btn-inverse[disabled]:hover, .btn-success.btn-inverse[disabled]:focus, .btn-success.btn-inverse[disabled].focus, fieldset[disabled] .btn-success.btn-inverse:hover, fieldset[disabled] .btn-success.btn-inverse:focus, fieldset[disabled] .btn-success.btn-inverse.focus {
	background-color: #fff;
	border-color: #5cb85c;
  }
  .btn-success.btn-inverse .badge {
	color: #fff;
	background-color: #5cb85c;
  }
  .btn-success.btn-inverse:hover {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
  }
  .btn-success.btn-inverse:hover:focus, .btn-success.btn-inverse:hover.focus {
	color: #fff;
	background-color: #449d44;
	border-color: #255625;
  }
  .btn-success.btn-inverse:hover:hover {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
  }
  .btn-success.btn-inverse:hover:active, .btn-success.btn-inverse:hover.active, .open > .btn-success.btn-inverse:hover.dropdown-toggle {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
  }
  .btn-success.btn-inverse:hover:active:hover, .btn-success.btn-inverse:hover:active:focus, .btn-success.btn-inverse:hover:active.focus, .btn-success.btn-inverse:hover.active:hover, .btn-success.btn-inverse:hover.active:focus, .btn-success.btn-inverse:hover.active.focus, .open > .btn-success.btn-inverse:hover.dropdown-toggle:hover, .open > .btn-success.btn-inverse:hover.dropdown-toggle:focus, .open > .btn-success.btn-inverse:hover.dropdown-toggle.focus {
	color: #fff;
	background-color: #398439;
	border-color: #255625;
  }
  .btn-success.btn-inverse:hover:active, .btn-success.btn-inverse:hover.active, .open > .btn-success.btn-inverse:hover.dropdown-toggle {
	background-image: none;
  }
  .btn-success.btn-inverse:hover.disabled:hover, .btn-success.btn-inverse:hover.disabled:focus, .btn-success.btn-inverse:hover.disabled.focus, .btn-success.btn-inverse:hover[disabled]:hover, .btn-success.btn-inverse:hover[disabled]:focus, .btn-success.btn-inverse:hover[disabled].focus, fieldset[disabled] .btn-success.btn-inverse:hover:hover, fieldset[disabled] .btn-success.btn-inverse:hover:focus, fieldset[disabled] .btn-success.btn-inverse:hover.focus {
	background-color: #5cb85c;
	border-color: #4cae4c;
  }
  .btn-success.btn-inverse:hover .badge {
	color: #5cb85c;
	background-color: #fff;
  }
  .btn-success.btn-transparent {
	color: #5cb85c;
	background-color: transparent;
	border-color: #5cb85c;
  }
  .btn-success.btn-transparent:focus, .btn-success.btn-transparent.focus {
	color: #5cb85c;
	background-color: transparent;
	border-color: #2d672d;
  }
  .btn-success.btn-transparent:hover {
	color: #5cb85c;
	background-color: transparent;
	border-color: #419641;
  }
  .btn-success.btn-transparent:active, .btn-success.btn-transparent.active, .open > .btn-success.btn-transparent.dropdown-toggle {
	color: #5cb85c;
	background-color: transparent;
	border-color: #419641;
  }
  .btn-success.btn-transparent:active:hover, .btn-success.btn-transparent:active:focus, .btn-success.btn-transparent:active.focus, .btn-success.btn-transparent.active:hover, .btn-success.btn-transparent.active:focus, .btn-success.btn-transparent.active.focus, .open > .btn-success.btn-transparent.dropdown-toggle:hover, .open > .btn-success.btn-transparent.dropdown-toggle:focus, .open > .btn-success.btn-transparent.dropdown-toggle.focus {
	color: #5cb85c;
	background-color: transparent;
	border-color: #2d672d;
  }
  .btn-success.btn-transparent:active, .btn-success.btn-transparent.active, .open > .btn-success.btn-transparent.dropdown-toggle {
	background-image: none;
  }
  .btn-success.btn-transparent.disabled:hover, .btn-success.btn-transparent.disabled:focus, .btn-success.btn-transparent.disabled.focus, .btn-success.btn-transparent[disabled]:hover, .btn-success.btn-transparent[disabled]:focus, .btn-success.btn-transparent[disabled].focus, fieldset[disabled] .btn-success.btn-transparent:hover, fieldset[disabled] .btn-success.btn-transparent:focus, fieldset[disabled] .btn-success.btn-transparent.focus {
	background-color: transparent;
	border-color: #5cb85c;
  }
  .btn-success.btn-transparent .badge {
	color: transparent;
	background-color: #5cb85c;
  }
  .btn-success.btn-transparent:hover {
	color: #5cb85c;
	background-color: #2d672d;
	border-color: #5cb85c;
  }
  .btn-success.btn-transparent:hover:focus, .btn-success.btn-transparent:hover.focus {
	color: #5cb85c;
	background-color: #1e441e;
	border-color: #2d672d;
  }
  .btn-success.btn-transparent:hover:hover {
	color: #5cb85c;
	background-color: #1e441e;
	border-color: #419641;
  }
  .btn-success.btn-transparent:hover:active, .btn-success.btn-transparent:hover.active, .open > .btn-success.btn-transparent:hover.dropdown-toggle {
	color: #5cb85c;
	background-color: #1e441e;
	border-color: #419641;
  }
  .btn-success.btn-transparent:hover:active:hover, .btn-success.btn-transparent:hover:active:focus, .btn-success.btn-transparent:hover:active.focus, .btn-success.btn-transparent:hover.active:hover, .btn-success.btn-transparent:hover.active:focus, .btn-success.btn-transparent:hover.active.focus, .open > .btn-success.btn-transparent:hover.dropdown-toggle:hover, .open > .btn-success.btn-transparent:hover.dropdown-toggle:focus, .open > .btn-success.btn-transparent:hover.dropdown-toggle.focus {
	color: #5cb85c;
	background-color: #132b13;
	border-color: #2d672d;
  }
  .btn-success.btn-transparent:hover:active, .btn-success.btn-transparent:hover.active, .open > .btn-success.btn-transparent:hover.dropdown-toggle {
	background-image: none;
  }
  .btn-success.btn-transparent:hover.disabled:hover, .btn-success.btn-transparent:hover.disabled:focus, .btn-success.btn-transparent:hover.disabled.focus, .btn-success.btn-transparent:hover[disabled]:hover, .btn-success.btn-transparent:hover[disabled]:focus, .btn-success.btn-transparent:hover[disabled].focus, fieldset[disabled] .btn-success.btn-transparent:hover:hover, fieldset[disabled] .btn-success.btn-transparent:hover:focus, fieldset[disabled] .btn-success.btn-transparent:hover.focus {
	background-color: #2d672d;
	border-color: #5cb85c;
  }
  .btn-success.btn-transparent:hover .badge {
	color: #2d672d;
	background-color: #5cb85c;
	}
	

	/* media query */
@media(max-width:1102px){
	.container2{width:98%}
	}

@media(max-width:1075px){
	.container2{width:96%}
}
@media(max-width:1055px){
	.container2{width:95%}
}
@media(max-width:1040px){
	.container2{width: 93%}
	}
	
	@media(max-width:1020px){
			.container2{width: 91%}   
			
	}
	@media(max-width:1000px){
			.container2{width: 89%}       
			 
	}
	@media(max-width:980px){
			.container2{width: 87%}           
			
	}
	@media(max-width:960px){
			.container2{width: 85%}               
			
	}
	@media(max-width:940px){
			.container2{width: 83%}                   
			
	}	
	@media(max-width:920px){
													
			.container2{width: 81%}  
	}
	@media(max-width:900px){
			.container2{width: 79%}  
	}
	@media(max-width:980px){
			.container2{width: 77%}  
	}
	@media(max-width:960px){
			.container2{width: 75%}  
	}
	@media(max-width:940px){
			.container2{width: 74%}  
	}
	@media(max-width:920px){
			.container2{width: 72%}  
	}
	@media(max-width:900px){
			.container2{width: 70%}  
	}
	@media(max-width:880px){
			.container2{width: 68%}  
	}
	@media(max-width:860px){
			.container2{width: 66%}  
	}
	@media(max-width:840px){
			.container2{width: 64%}  
	}
	@media(max-width:820px){
			.container2{width: 62%}  
	}
	@media(max-width:800px){
			.container2{width: 60%}  
	}
	@media(max-width:480px){
			.container2{width: 58%};
			#input{width: 96%}

	}
	@media(max-width:475px){
			.container2{width: 58%};
			#input{width: 94%}

	}
	@media(max-width:460px){
			 .container2{width: 56%}; 
	}
	@media(max-width:440px){
			.container2{width: 54%}  
	}
	@media(max-width:420px){
			.container2{width: 52%}  
	}
	@media(max-width:400px){
			.container2{width: 50%}  
	}
	@media(max-width:380px){
			.container2{width: 48%}  
	}
	@media(max-width:360px){
			.container2{width: 46%}  
	}
	@media(max-width:340px){
			.container2{width: 44%}  
	}
	@media(max-width:320px){
			.container2{width: 40%}  
	}
	@media(max-width:300px){
			.container2{width: 38%}  
	}
	@media(max-width:280px){
			.container2{width: 36%}  
	}
	@media(max-width:260px){
			.container2{width: 34%}  
	}

	@media(max-width:460px){
			/* .container2{width: 56%}; */
			#input{width: 92%}  
	}
	