
.alexa-edit-title{
    margin-left: 15px;
    border-bottom: 1px solid #dce0e6;
    margin-bottom: 1.2em;
    font-weight: 600;
    
}
.buttons-container {
    padding-top: 70px;
    margin-bottom: 57px;
    margin-left: 15px;
}
.m-bottom{
    margin-bottom:10px;
}

.input-height{
    height:47px
}

/* media query */
@media (max-width:990px) {
    .buttons-container{padding-top:120px}
}



