<div *ngIf="isAlexaEdit" class="row">
<div class="col-sm-12 col-lg-12"  id="root-container">
	
	<!-- min nav -->
	<div class="visible-xs-block visible-sm-block row">
		<div class="form-group col-sm-12">
			<select (change)="navigateTo($event.target.value)" class="form-control">
											<option></option>
											<option value="profile" >Profile</option>
											<option value="password" >Password</option>
											<option value="notification" >Notifications</option>
											<option value="billingInfo" >Billing Info</option>
											<option value="giftCards" >Gift Cards</option>
											<option value="cancelTask" >Cancel A Task</option>
											<option value="accountBalaance" >Account Balance</option>
											<option value="transactions" >Transactions</option>
											<option value="alexa" >Alexa</option>
											<option value="deactivate" >Deactive</option>
				
			</select>
		</div>
	</div>
	<h3 class="alexa-edit-title">
		Set Home
	</h3>

	<form>
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 m-bottom">
			<input class="input-height" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
			 placeholder="Enter home street address">
			</div>
			 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
			 placeholder="Unit or Apt #">
		</div>
		<div class="buttons-container">
				<button class="col-lg-2 col-md-2 col-sm-2 btn btn-default cancel-button" (click)="cancel()" type="button" >Cancel</button>
				<button class="col-lg-2 col-md-2 col-sm-2  btn btn-success save-button" type="button">Save</button>
			</div>
	</form>
</div>
</div>


<!-- change routes when user wants to change the page -->
<div>
	<div *ngIf="isPassword">
		<app-password></app-password>

	</div>
	<div *ngIf="isNotifications">
		<app-notifications></app-notifications>
	</div>
	<div *ngIf="isBillingInfo">
		<app-billing-info></app-billing-info>
	</div>
	<div *ngIf="isProfile">
		<app-profile></app-profile>
	</div>
	<div *ngIf="isGiftCards">
		<app-gift-cards></app-gift-cards>
	</div>
	<div *ngIf="isCancelTask">
		<app-cancel-task></app-cancel-task>
	</div>
	<div *ngIf="isAccountBalance">
		<app-account-balance></app-account-balance>
	</div>
	<div *ngIf="isTransactions">
		<app-transactions></app-transactions>
	</div>
	<div *ngIf="isAlexa">
		<app-alexa></app-alexa>
	</div>
	<div *ngIf="isDeactivate">
		<app-deactive></app-deactive>
	</div>
</div>