<!-- <div class="demo">
 Demo  
 Traditionally, browsers on touchscreen devices have a delay of approximately 300ms between the end of a “tap” – the moment when a finger/stylus is lifted from screen – and the click event being fired. This delay is necessary for 
</div> -->


<div *ngIf="isGiftCards"  class="container2">
		<div id="mini-nav">
				<div class="row">
					<div class="form-group">
						<div class="col-sm-2">
							<select (change)="navigateTo($event.target.value)" id="nav-select" style="	margin-left: 15px;
							width: 690px;" class="form-control">
								   <option></option>
								  <option value="profile" >Profile</option>
								  <option value="password" >Password</option>
								  <option value="notification" >Notifications</option>
								  <option value="billingInfo" >Billing Info</option>
								  <option value="giftCards" >Gift Cards</option>
								  <option value="cancelTask" >Cancel A Task</option>
								  <option value="accountBalaance" >Account Balance</option>
								  <option value="transactions" >Transactions</option>
								  <option value="alexa" >Alexa</option>
								  <option value="deactivate" >Deactive</option>
		
								</select>
		
						</div>
					</div>
				</div>
			</div>
	<h3 class="gift-heading">
		Gift Cards
	</h3>
	<!-- <hr style="margin-left: 10px;"> -->
	<!-- <div style="border: 1px solid red;height: 79%;width: 45%;">
		<div style="height: 80%;position: relative;left: 12%;top: 10%;">
			<img src="../../assets/gift_cards.png" alt="">
		</div>
	</div> -->

	<!-- <div style="border: 1px solid red;width: 33%;position: relative;left: 52%;bottom: 260px;height: 330px;">
	<b>Give the gift of time!</b>
</div> -->

	<!-- <table style="position: relative;border: 1px solid red;left: 25%;width: 26%;bottom: 280px;"> -->
	<!-- table css -->
	<!-- style="position: relative;left: 25%;bottom: 350px;" -->

	<table id="gift-table">
		<tbody>
			<tr>
				<td class="first-td">
					<!-- <div style="height: 80%;position: relative;left: 12%;top: 10%;"> -->
					<div>
						<img class="first-td-image" style="height: 300px;" src="../../assets/gift_cards.png" alt="">
					</div>
				</td>
				<td class="second-td">
					<h5 class="sub-heading">Give the gift of time!</h5>
					<p class="gift-para">Now you can purchase TaskRabbit Gift Cards to share with friends, family, and coworkers.</p>
					<div class="form-div" class="form-group">
						<label class="gitft-label" for="exampleInputEmail1">Gift Card Value</label>
						<span style="display:flex"><span class="dollar-span">$</span><input type="number" class="form-control" id="exampleInputEmail1"
						 aria-describedby="emailHelp"></span>
						<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
						<div style="margin-top: 15px;margin-left: 18px;">
							<button style="height: 48px;
							width : 120px" class="cancel-button" type="button" class="btn btn-default">Cancel</button>
							<span style="margin-right:10px"></span>
							<button style="width: 140px;
							height: 50px  " class="purchase-button" type="button" class="btn btn-success">Purchase</button>
						</div>
						<hr class="hr">
					</div>
					<p class="para">

						We will charge the credit card on file for the value of the Gift Card at time of purchase. Purchased Gift Cards will be delivered
						as a PDF to your <a style="color : green"> email address</a>.</p>
					<span class="spacing"></span>
					<p class="para">
						When the recipient books and completes tasks, their gift card balance will be deducted from the labor cost of those tasks
						until the Gift Card balance is fulfilled. Gift Card balances cannot be used for reimbursements. Other fees may apply.
						TaskRabbit is only available in certain <a style="color : green"> locations </a> and not nationwide.</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>


<div>
		<div *ngIf="isPassword">
	   <app-password></app-password>
	   
		</div>
		<div *ngIf="isNotifications"><app-notifications></app-notifications></div>
		<div *ngIf="isBillingInfo">
			   <app-billing-info></app-billing-info> 
		</div>
		<div *ngIf="isProfile"><app-profile></app-profile></div>
		<!-- <div *ngIf="isGiftCards"><app-gift-cards></app-gift-cards></div> -->
		<div *ngIf="isCancelTask"><app-cancel-task></app-cancel-task></div>
		<div *ngIf="isAccountBalance"><app-account-balance></app-account-balance></div>
		<div *ngIf="isTransactions"><app-transactions></app-transactions></div>
		<div *ngIf="isAlexa"><app-alexa></app-alexa></div>
		<div *ngIf="isDeactivate"><app-deactive></app-deactive></div>
	   </div>