<div class="row">
	<div class="col-sm-12 col-lg-12 set-height" *ngIf="isGiftCards" id="root-container">
		
		<!-- min nav -->
		<div class="visible-xs-block visible-sm-block row">

			<div class="form-group col-sm-12">
				<select (change)="navigateTo($event.target.value)" class="form-control">
											<option></option>
											<option value="profile" >Profile</option>
											<option value="password" >Password</option>
											<option value="notification" >Notifications</option>
											<option value="billingInfo" >Billing Info</option>
											<option value="giftCards" >Gift Cards</option>
											<option value="cancelTask" >Cancel A Task</option>
											<option value="accountBalaance" >Account Balance</option>
											<option value="transactions" >Transactions</option>
											<option value="alexa" >Alexa</option>
											<option value="deactivate" >Deactive</option>
				
			</select>
			</div>
		</div>
		<h3 class="gift-heading">
			Gift Cards
		</h3>

		<div class="table-responsive borderless">
			<table>
				<tbody>
					<tr>
						<td class="col-lg-5 col-sm-5 col-md-5 col-xs-10">
							<div class="img-container">
								<img class="img-responsive gift-img" src="../../assets/gift_cards.png" alt="">
							</div>
						</td>
						<td class="col-lg-7 col-sm-7 col-md-7 col-xs-2">
							<h5 class="sub-heading">Give the gift of time!</h5>
							<p>
								<span>Now you can purchase TaskRabbit Gift Cards to share with friends, family, and coworkers</span>
							</p>

							<form>
								<div class="form-container">

									<label class="gift-label" for="">
								 <span>Gift Card Value</span>
							 </label>
									<div>
										<span class="dollar-span">$</span>
										<input class="form-control form-input" type="number">
									</div>
									<div>
										<button type="button" class="col-lg-3 col-md-4 col-sm-4 btn btn-default cancel-button m-15 set-width">Cancel</button>
										<button type="button" class="col-lg-3 col-md-4 col-sm-4 btn btn-success save-button m-15">Purchase</button>
									</div>
									<hr class="horizontal-line">
								</div>
							</form>
							<br>
							<div>
								<p><span>We will charge the credit card on file for the value of the Gift Card at time of purchase. Purchased Gift Cards will be delivered
						as a PDF to your <a style="color : green"> email address</a>.</span></p>

								<p class="last-para"><span>When the recipient books and completes tasks, their gift card balance will be deducted from the labor cost of those tasks
						until the Gift Card balance is fulfilled. Gift Card balances cannot be used for reimbursements. Other fees may apply.
						TaskRabbit is only available in certain <a style="color : green"> locations </a> and not nationwide.</span></p>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- change routes when user wants to change the page -->
<div>
	<div *ngIf="isPassword">
		<app-password></app-password>

	</div>
	<div *ngIf="isNotifications">
		<app-notifications></app-notifications>
	</div>
	<div *ngIf="isBillingInfo">
		<app-billing-info></app-billing-info>
	</div>
	<div *ngIf="isProfile">
		<app-profile></app-profile>
	</div>
	<div *ngIf="isCancelTask">
		<app-cancel-task></app-cancel-task>
	</div>
	<div *ngIf="isAccountBalance">
		<app-account-balance></app-account-balance>
	</div>
	<div *ngIf="isTransactions">
		<app-transactions></app-transactions>
	</div>
	<div *ngIf="isAlexa">
		<app-alexa></app-alexa>
	</div>
	<div *ngIf="isDeactivate">
		<app-deactive></app-deactive>
	</div>
</div>