

::-webkit-scrollbar { 
    display: none; 
}

#gift-card {
	height:640px !important;
}

.m-15 {
	margin-top : 15px;
}

.gift-img {
	height:270px
}

.form-container { 
	margin-bottom:30px
}

.gift-label { 
	position:relative;
	top:15px 
}

.sub-heading {
    font-size: 2.1rem;font-weight: 600;line-height: 1.6;
}

.dollar-span {
	position: relative;
	top: 30px;
	margin-left: -20px;
}

.form-input {
	width:auto;
	height:45px
}

.horizontal-line {
	margin-top:100px
}

.last-para {
	margin-top:20px
}

.borderless {
	border: 0;
}

.gift-heading {
    margin-left: 10px;
    border-bottom: 1px solid #dce0e6;
    font-weight: 600;
    margin-bottom: 1.2em;
}

.gift-label {
	font-weight: 300 !important;
}

	/* media query */

@media screen and (max-width:765px) and (min-width: 200px) {
		.set-width{width:90px !important}
}

@media screen and (max-width:450px) and (min-width: 200px) {
		.img-container{width: 100px}
}