<div *ngIf="isAccountBalance" class="root-container">
	<div class="visible-xs-block visible-sm-block">
		<div class="row">
			<div class="form-group">
				<div>
					<select (change)="navigateTo($event.target.value)" class="form-control">
											<option></option>
											<option value="profile" >Profile</option>
											<option value="password" >Password</option>
											<option value="notification" >Notifications</option>
											<option value="billingInfo" >Billing Info</option>
											<option value="giftCards" >Gift Cards</option>
											<option value="cancelTask" >Cancel A Task</option>
											<option value="accountBalaance" >Account Balance</option>
											<option value="transactions" >Transactions</option>
											<option value="alexa" >Alexa</option>
											<option value="deactivate" >Deactive</option>
				
												</select>

				</div>
			</div>
		</div>
	</div>
	<h3 class="account-balance-title">
		<span>Account Balance</span>
	</h3>
	<div class="form">
		<p style="margin: 0 0 2.5rem 0;">
			<strong>
				<span>Available account balance:</span>
			</strong> $0
		</p>
		<p style="color: #545e69;margin: 0 0 50px;">
			<span>*Account balances are automatically applied when a task is completed.</span>
		</p>
		<form>
			<div id="input" style="margin-bottom: 25px;" class="form-group">
				<label class="input-label" for="exampleInputEmail1">Enter a redemption code:</label>
				<input style="    height: 45px;" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
			</div>
			<div>
				<button id="apply-button" type="button" class="btn btn-success">Apply</button>
			</div>
		</form>
	</div>

</div>



<div>
	<div *ngIf="isPassword">
		<app-password></app-password>

	</div>
	<div *ngIf="isNotifications">
		<app-notifications></app-notifications>
	</div>
	<div *ngIf="isBillingInfo">
		<app-billing-info></app-billing-info>
	</div>
	<div *ngIf="isProfile">
		<app-profile></app-profile>
	</div>
	<div *ngIf="isGiftCards">
		<app-gift-cards></app-gift-cards>
	</div>
	<div *ngIf="isCancelTask">
		<app-cancel-task></app-cancel-task>
	</div>
	<!-- <div *ngIf="isAccountBalance"><app-account-balance></app-account-balance></div> -->
	<div *ngIf="isTransactions">
		<app-transactions></app-transactions>
	</div>
	<div *ngIf="isAlexa">
		<app-alexa></app-alexa>
	</div>
	<div *ngIf="isDeactivate">
		<app-deactive></app-deactive>
	</div>
</div>