#apply-button{
	height: 50px;
	width: 25%;
	font-size: 2rem;
}
.account-balance-title{
    margin-left: 15px;
    border-bottom: 1px solid #dce0e6;
    margin-bottom: 1em;
    font-weight: 600;
}
.form{
    margin-left: 15px;
    max-width: 400px;
}
.input-label{
    color: #545e69
}

/* media queries */

/* for apply-button */
@media(max-width:400px) and (min-width:266px){
	#apply-button{width:35%}
}

/* for input */
@media(max-width:460px){
      #input{width: 92%}  
}
	


	

	