.form{
  margin-left: 10px;
}
.billing-label{
    font-weight: 1 !important;
    display : block
}
.billing-heading{
    margin-left: 10px;
    border-bottom: 1px solid #dce0e6;
    font-weight: 600;
    margin-bottom: 1.2em;
}
