<div class="row">
	<div class="col-sm-12 col-lg-12" id="root-container" *ngIf="isProfile">
		
		<!-- min nav -->
		<div class="visible-xs-block visible-sm-block row">
			<div class="form-group col-sm-12">
				<select (change)="navigateTo($event.target.value)" class="form-control">
									<option value="profile" >Profile</option>
									<option value="password" >Password</option>
									<option value="notification" >Notifications</option>
									<option value="billingInfo" >Billing Info</option>
									<option value="giftCards" >Gift Cards</option>
									<option value="cancelTask" >Cancel A Task</option>
									<option value="accountBalaance" >Account Balance</option>
									<option value="transactions" >Transactions</option>
									<option value="alexa" >Alexa</option>
									<option value="deactivate">Deactive</option>
		
					</select>
			</div>
		</div>
		<div class="header">
			<h1>Account</h1>
			<button type="button" class="btn btn-success btn-inverse edit-button">Edit</button>
		</div>

		<div id="profile-data" class="row">
			<!-- profile image -->
			<div class="col-sm-4 col-xs-8 col-md-4 img-container">
				<img class="img-responsive image" src="../../assets/default.jpg" alt="">
			</div>
			<div class="col-sm-12 col-xs-12 col-md-4 profile-description">
				<!-- username -->
				<div class="profile-name-email">

					<i class="material-icons">person</i>

					<span>Tahir Mukhtar</span>
				</div>
				<!-- email -->
				<div class="profile-name-email">

					<i id="email" class="material-icons">email</i>

					<span>tahirmukhtar.on@gmail.com</span>
				</div>
				{{value}}
				<!-- location-->
				<div class="profile-location">

					<i class="material-icons">location_on</i>

					<span>74700</span>
					<br>
					<div></div>
				</div>
				<div class="log-out">
					<button type="button" class="btn btn-default logut-button">Log Out</button>
				</div>

			</div>
		</div>

	</div>
</div>

<!-- change routes when user wants to change the page -->
<div>
	<div *ngIf="isPassword">

		<app-password></app-password>

	</div>
	<div *ngIf="isPassword"></div>
	<div *ngIf="value == 'isNotifications'">
		<app-notifications></app-notifications>
	</div>
	<div *ngIf="isBillingInfo">
		<app-billing-info></app-billing-info>
	</div>
	<div *ngIf="isGiftCards">
		<app-gift-cards></app-gift-cards>
	</div>
	<div *ngIf="isCancelTask">
		<app-cancel-task></app-cancel-task>
	</div>
	<div *ngIf="isAccountBalance">
		<app-account-balance></app-account-balance>
	</div>
	<div *ngIf="isTransactions">
		<app-transactions></app-transactions>
	</div>
	<div *ngIf="isAlexa">
		<app-alexa></app-alexa>
	</div>
	<div *ngIf="isDeactivate">
		<app-deactive></app-deactive>
	</div>
</div>