<div class="container2">

<h1 class="profile-title">
	<button style="	float: right;margin-right: 10px;height: 44px;width: 74px;bottom: 10px;position: relative;" type="button" class="btn btn-success btn-inverse">Edit</button>
    <span>Account</span>			
</h1>
<!-- <hr> -->
<!-- <div >	
<img style="border-radius: 100px;
height: 150px;" src="../../assets/default.jpg" alt="">  
</div>
<div style="float : left">
	hello</div>  -->


<div class="profile-container">
	<div class="row">
		<div class="col-md-6" style="width: 30%;">
			<img id="profile-image" style="border-radius: 100px;
					height: 150px;" src="../../assets/default.jpg" alt="">
			<div style="margin-bottom:35px"></div>
		</div>
		<!-- username -->
		<div id="userName" class="col-md-6 text-right" style="width: 40%">

			<i style="float:left" class="material-icons">person</i>

			<span style="float:left">Tahir Mukhtar</span>
			<div style="margin-bottom:35px"></div>
		</div>
		<!-- email -->
		<div id="userEmail" class="col-md-6 text-right" style="width: 40%">

			<i style="float:left" class="material-icons">email</i>

			<span style="float:left">tahirmukhtar.on@gmail.com</span>
			<div style="margin-top:35px"></div>
		</div>
		<!-- location -->
		<div id="location" class="col-md-6 text-right" style="width: 40%">

			<i style="float:left" class="material-icons">location_on</i>

			<span style="float:left">74700</span>
			<br>
			<div style="margin-top:35px"></div>
			<div style=" float: left;">
					<button style="height: 48px;
					width : 120px" class="cancel-button" type="button" class="btn btn-default">Log Out</button>
				<!-- <button type="button" class="btn btn-success btn-inverse">Log Out</button> -->
			</div>
		</div>
	</div>
</div>

</div>