<!-- <form>
	<div class="form-group">
		<label for="exampleInputEmail1">Email address</label>
		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Password</label>
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	</div>
	<div class="form-check">
		<label class="form-check-label">
			<input type="checkbox" class="form-check-input">
			Check me out
		  </label>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form> -->
<!-- asdsadsadsads
<div style="border : 1px solid black"></div> -->


<div *ngIf="isPassword" class="container2">
		<div id="mini-nav">
				<div class="row">
					<div class="form-group">
						<div class="col-sm-2">
							<select (change)="navigateTo($event.target.value)" id="nav-select" style="	margin-left: 15px;
							width: 690px;" class="form-control">
							<option></option>
							<option value="profile" >Profile</option>
							<option value="password" >Password</option>
							<option value="notification" >Notifications</option>
							<option value="billingInfo" >Billing Info</option>
							<option value="giftCards" >Gift Cards</option>
							<option value="cancelTask" >Cancel A Task</option>
							<option value="accountBalaance" >Account Balance</option>
							<option value="transactions" >Transactions</option>
							<option value="alexa" >Alexa</option>
							<option value="deactivate" >Deactive</option>
								</select>
		
						</div>
					</div>
				</div>
			</div>
<h3 class="password-heading">Change Password</h3>
<!-- <hr> -->
<form>
	<div id="form-password" style="width: 60%;margin-bottom: 26px;" class="form-group">
		<label class="password-label" for="exampleInputEmail1">Enter current password:</label>
		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter current password:">
		<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
	</div>
	<div id="form-password" style="width: 60%;margin-bottom: 26px;" class="form-group">
			<label class="password-label" for="exampleInputEmail1">Enter new password:</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter current password:">
	</div>
	<div id="form-password" style="width: 60%" class="form-group">
			<label class="password-label" for="exampleInputEmail1">Confirm new password:</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter current password:">
	</div>
	<div id="div-buttons">
			<button id="cancel-button"  type="button" class="btn btn-default">Cancel</button>
			<span style="margin-right:10px"></span>
			<button id="save-button"  type="button" class="btn btn-success">Save</button>
    </div>	
</form>
</div>


<div>
		<!-- <div *ngIf="isPassword">
	   <app-password></app-password>
	   
		</div> -->
		<div *ngIf="isNotifications"><app-notifications></app-notifications></div>
		<div *ngIf="isBillingInfo">
			   <app-billing-info></app-billing-info> 
		</div>
		<div *ngIf="isProfile"><app-profile></app-profile></div>
		<div *ngIf="isGiftCards"><app-gift-cards></app-gift-cards></div>
		<div *ngIf="isCancelTask"><app-cancel-task></app-cancel-task></div>
		<div *ngIf="isAccountBalance"><app-account-balance></app-account-balance></div>
		<div *ngIf="isTransactions"><app-transactions></app-transactions></div>
		<div *ngIf="isAlexa"><app-alexa></app-alexa></div>
		<div *ngIf="isDeactivate"><app-deactive></app-deactive></div>
	   </div>