<div *ngIf="isTransactions" class="root-container">
	<div class="visible-xs-block visible-sm-block">
		<div class="row">
			<div class="form-group">
				<div>
					<select (change)="navigateTo($event.target.value)" class="form-control">
											<option></option>
											<option value="profile" >Profile</option>
											<option value="password" >Password</option>
											<option value="notification" >Notifications</option>
											<option value="billingInfo" >Billing Info</option>
											<option value="giftCards" >Gift Cards</option>
											<option value="cancelTask" >Cancel A Task</option>
											<option value="accountBalaance" >Account Balance</option>
											<option value="transactions" >Transactions</option>
											<option value="alexa" >Alexa</option>
											<option value="deactivate" >Deactive</option>
				
												</select>

				</div>
			</div>
		</div>
	</div>
	<h3 class="transactions-title">
		<span>Transaction History</span>
	</h3>
	<div style="text-align: center;margin: 0 0 30px;">
		<i style="cursor:pointer;color: #438e29;" class="glyphicon glyphicon-download-alt"></i>
		<a href="" class="transactions-link"> Download Transaction History</a>
	</div>
	<div>
		<p class="paragraph">You don’t have any transactions yet. Get started!</p>
	</div>
</div>


<div>
	<div *ngIf="isPassword">
		<app-password></app-password>

	</div>
	<div *ngIf="isProfile">
		<app-profile></app-profile>
	</div>
	<div *ngIf="isNotifications">
		<app-notifications></app-notifications>
	</div>
	<div *ngIf="isBillingInfo">
		<app-billing-info></app-billing-info>
	</div>
	<div *ngIf="isGiftCards">
		<app-gift-cards></app-gift-cards>
	</div>
	<div *ngIf="isCancelTask">
		<app-cancel-task></app-cancel-task>
	</div>
	<div *ngIf="isAccountBalance">
		<app-account-balance></app-account-balance>
	</div>
	<!-- <div *ngIf="isTransactions"><app-transactions></app-transactions></div> -->
	<div *ngIf="isAlexa">
		<app-alexa></app-alexa>
	</div>
	<div *ngIf="isDeactivate">
		<app-deactive></app-deactive>
	</div>
</div>