.container2{
    border: 0.5px solid #DCDFE5;
    height: 462px;
}
.canel-title{
    margin-left: 10px;
    border-bottom: 1px solid #dce0e6;
    margin-bottom: 1em;
    font-weight: 600;
}
.div-para{
    margin-left: 10px;
    width: 90%;
    text-align: center;
    
}
.para{
    text-align: justify;
    margin: 0 0 1.5rem 0;
}
.para-child{
    color : #466C84;
    text-align: justify;
    text-justify: inter-word;
}
.div-image{
    margin-top: 25px;
    margin-left: 15px;
}
.cancel-image{
    width: 580px;
}
.dashboard-link{
    font-size: 2rem;
    color: #438e29;
    text-decoration: none;
    font-weight: normal;
}
a:hover{
    color:#1f6507
}
.link-div{
    margin-left: 20px;
}

 
@media screen and (max-width:950px) and (min-width: 900px) {
	.container2{width: 87%};
	.cancel-image{width: 400px !important}
}
@media screen and (max-width:900px) and (min-width: 850px) {
	.container2{width: 84%};
	.cancel-image{width: 400px !important}
}

@media screen and (max-width:700px) and (min-width: 650px) {
	.container2{width: 76%};
	.cancel-image{width: 350px !important}
}
@media screen and (max-width:650px) and (min-width: 600px) {
	.container2{width: 70%};
	.cancel-image{width: 400px}
}

@media screen and (max-width:600px) and (min-width: 550px) {
	.container2{width: 68%};
	.cancel-image{width: 400px}
}


/* **************** */
@media(max-width:755px){
.cancel-image{width: 510px}
}
@media(max-width:655px){
	.cancel-image{width: 470px};
	.para{width: 70%;}
}
@media(max-width:550px){
	.cancel-image{width: 440px}
}
@media(max-width:475px){
		
     .cancel-image{width: 400px;}
}
@media(max-width:450px){
			
	.cancel-image{width: 370px;}
}
@media(max-width:415px){
				
	.cancel-image{width: 340px;}
}
@media(max-width:390px){
					
	.cancel-image{width: 310px;}
}	
@media(max-width:350px){
						
	.cancel-image{width: 270px;}
}
@media(max-width:300px){
	.cancel-image{width: 217px;}
}										
/* for paragraph media query  */
@media(max-width:550px){
	.container2{width: 65%};
	.para{width: 39% !important ;}
}
@media(max-width:480px){
	.container2{width: 60%};
	.para{width: 35% !important ;}
}
@media(max-width:440px){
	.container2{width: 55%};
}
@media(max-width:405px){
	.container2{width: 50%};
	
}
@media(max-width:375px){
	.container2{width: 47%};	
}
@media(max-width:343px){
	.container2{width: 42%};	
}
@media(min-width:266px) and (max-width:300px){
	.container2{width: 33%};
}


#mini-nav{
	display: none;
	text-align: center;
	position: relative;
	/* top:s 220px; */
	height: 40px;
}


#nav-select{
	top: 12px;
	margin-left: 10px;
	position: relative;
	/* margin-left: 10px; */
	width: 680px;
  }
  /* mini mav */
  @media(max-width:790px) {
	  #mini-nav{display: inline-block;};
	  
	}
	@media(max-width:790px){
	  /* #nav-select{margin-left: 18px; position: relative;bottom: 210px;width: 680px} */
	  /* #nav-select{ position: relative;bottom: 210px;margin-left: ;width: 670px;}; */
	  #nav-select{width:670px !important}
	  }
	  @media(max-width:760px) {
	  #nav-select{width:655px !important}
	  
	  }
	  @media(max-width:740px) {
	  #nav-select{width:640px !important}
	  
	  }
	  @media(max-width:720px) {
	  #nav-select{width:610px !important}
	  
	  }
	  @media(max-width:700px) {
	  #nav-select{width:520px !important}
	  
	  }
	 
	  @media(max-width:680px) {
	  #nav-select{width:500px !important}
	  
	  }
	  @media(max-width:660px) {
	  #nav-select{width:500px !important}
	  
	  }
	  @media(max-width:640px) {
	  #nav-select{width:460px !important}
	  
	  }
	  @media(max-width:620px) {
	  #nav-select{width:460px !important}
	  
	  }
	  @media(max-width:600px) {
	  #nav-select{width:450px !important}
	  
	  }
	  @media(max-width:580px) {
	  #nav-select{width:440px !important}
	  
	  }
	  @media(max-width:560px) {
	  #nav-select{width:430px !important}
	  
	  }
	  @media(max-width:540px) {
	  #nav-select{width:420px !important}
	  
	  }
	  @media(max-width:520px) {
	  #nav-select{width:410px !important}
	  
	  }
	  @media(max-width:500px) {
	  #nav-select{width:400px !important}
	  
	  }
	  @media(max-width:480px) {
	  #nav-select{width:400px !important}
	  
	  }
	  @media(max-width:460px) {
	  #nav-select{width:320px !important}
	  
	  }
	  @media(max-width:400px) and (min-width:380px) {
		#nav-select{width:300px !important}
		
		}
	 @media(max-width:380px) and (min-width:360px) {
		  #nav-select{width:280px !important}
		  
	  }
	  @media(max-width:360px) and (min-width:340px) {
		#nav-select{width:270px !important}
		
	}
	@media(max-width:340px) and (min-width:320px) {
	  #nav-select{width:250px !important}
	  
  } 
  @media(max-width:320px) and (min-width:300px) {
	#nav-select{width:230px !important}
	
  } 
  @media(max-width:300px) and (min-width:266px) {
	#nav-select{width:210px !important}
	
  }
  
  