.container2{
	border: 0.5px solid #DCDFE5;
    width: 720px;
    height: 462px;
    /* margin-left: 25%;
    position: relative;
    top: 80px; */
}

.borderless td, .borderless th {
    border: none;
}

#notify-table{
	width : 60%;
	margin-left: 15px;
}
/* @media(max-width:480px) and (min-width:450px) { */
	/* #notify-table{ */
		/* margin-left: 15px; */
/* } */
/* } */
	/* @media(max-width:380px) and (min-width:350px) {
		#notify-table{ */
			/* margin-left: 15px; */
			/* width: 15px
		}
} */

/* for buttons */
@media(max-width:480px) and (min-width:450px) {
	#div-container{
		width:130%;
	}
	}
	@media(max-width:450px) and (min-width:400px) {
		#div-container{
			width:137%;
		}
		}
		@media(max-width:370px) and (min-width:330px) {
			#div-container{
				width:140%;
			}
			}
		@media(max-width:370px) and (min-width:320px) {
			#div-container{
				width:145%;
			}
			}
			@media(max-width:320px) and (min-width:280px) {
				#div-container{
					width:152%;
				}
				}
/* @media(max-width:380px){
    #notify-table{width:20% !important}; 
    } */

